{% extends "base.html" %}

{% block page_content %}
<div class="page-header">
  <h1>Delete Category {{ category.name }}</h1>
</div>
<div class="row clearfix">
	<div class="col-md-12 column">
    <form class="form-horizontal" action = "{{ url_for('deleteCategory',
    category_id = category.id) }}" method = 'post'>
      <fieldset>

      <h3>Warning: You are about to delete the category: {{ category.name }}</h3>
      <p>Any items belonging to this category will also be deleted!</p>
      <!-- Button -->
      <div class="control-group">
        <div class="controls">
          <input id="submit" name="submit" type="submit" value="Delete" class="btn btn-primary"></button>
          <a href="{{ url_for('catalog') }}">Cancel</a>
        </div>
    </div>
  </fieldset>
  </form>
  </form>
	</div>
</div>
{% endblock %}
